.creat {
    background-image: url(../images/Bitmap.png);
    background-repeat: no-repeat;
    background-size: 100%;
    border-radius: 10px;
    margin-bottom: 170px;
    color: #fff;
}
.creat__list{
    padding-bottom: 70px;
    padding-top: 60px;
    padding-left: 70px;
}
.creat__item{
    width: 485px;
    font-weight: 900;
    font-size: 72px;
    line-height: 72px;
}
.creat__text{
    width: 445px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    opacity: 0.8;
}